<section class="main">
  <div class="row col-12">
    <div class="col-12">
      <div class="row">
        <h2 class="col-8">Partido</h2>
        <p class="col-4">
          <a [routerLink]="['/private/tournaments', match.tournament_id]" class="btn btn-md btn-secondary">Volver al torneo</a>
        </p>
      </div>
      <div class="row bg-light p-4 text-center" *ngIf="teams">
        <div class="col-12 col-md-6">
          <div class="row">
            <div class="col-8">
              <!-- <p>{{getTeamName(match.team_local_id)}}</p> -->
              <p>{{localTeam.name}}</p>
            </div>
            <div class="col-4">
              <!-- <p>{{match.team_local_goals}}</p> -->
              <input type="number" [disabled]="goalscorers.length > 0" name="local_goals" [(ngModel)]="match.team_local_goals" class="form-control">
              <!-- <p *ngFor="let localGoalscorer of localGoalscorers">{{localGoalscorer.name}}</p> -->
            </div>
          </div>
          <div class="row mt-4" *ngIf="goalscorers.length > 0">
            <div class="col-12 row">
              <div class="col-12 col-md-8 d-none d-block-md">
                <label for="local-scorer">Nombre</label>
              </div>
              <div class="col-12 col-md-4">
                <label for="local-goals">Goles</label>
              </div>
            </div>
            <div class="col-12 row" *ngFor="let goalscorer of localGoalscorers">
              <div class="col-12 col-md-8">
                <label>{{goalscorer.name}}</label>
              </div>
              <div class="col-12 col-md-4">
                <label>{{goalscorer.goals}}</label>
              </div>
            </div>
          </div>
          <div class="row mt-4" *ngIf="goalscorers.length == 0">
            <div class="row col-12">
              <h5 class="col-12 mx-auto">Goleadores equipo local</h5>
            </div>
            <div class="row col-12">
              <div class="col-12 form-group">
                <div class="row">
                  <div class="col-12 col-md-8">
                    <label for="local-scorer">Nombre</label>
                  </div>
                  <div class="col-12 col-md-4">
                    <label for="local-goals">Número de goles</label>
                  </div>
                </div>
                <div class="row mt-2" *ngFor="let player of localTeam.players; let i = index">
                  <div class="col-12 col-8-md">
                    <label>{{player.name}}</label>
                  </div>
                  <div class="col-12 col-md-4">
                    <input type="number" name="local-goals-{{i}}" class="form-control" min="0" [(ngModel)]="player.goals">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row border-top border-dark d-none-md my-4">
            
          </div>
          <div class="row">
            <div class="col-4">
              <input type="number" [disabled]="goalscorers.length > 0" name="visitor_goals" [(ngModel)]="match.team_visitor_goals" class="form-control">
            </div>
            <div class="col-8">
              <p>{{visitorTeam.name}}</p>
            </div>
          </div>
          <div class="row mt-4" *ngIf="goalscorers.length > 0">
            <div class="col-12 row">
              <div class="col-12 col-md-4">
                <label for="local-scorer">Goles</label>
              </div>
              <div class="col-12 col-md-8 d-none d-block-md">
                <label for="local-goals">Nombre</label>
              </div>
            </div>
            <div class="col-12 row" *ngFor="let goalscorer of visitorGoalscorers">
              <div class="col-12 col-md-4">
                <label>{{goalscorer.goals}}</label>
              </div>
              <div class="col-12 col-md-8">
                <label>{{goalscorer.name}}</label>
              </div>
            </div>
          </div>
          <div class="row mt-4" *ngIf="goalscorers.length == 0">
            <div class="row col-12">
              <h5 class="col-12 mx-auto">Goleadores equipo visitante</h5>
            </div>
            <div class="row col-12">
              <div class="col-12 form-group">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <label for="visitor-goals">Número de goles</label>
                  </div>
                  <div class="col-12 col-md-8">
                    <label for="visitor-scorer">Nombre</label>
                  </div>
                </div>
                <div class="row mt-2" *ngFor="let player of visitorTeam.players; let i = index">
                  <div class="col-12 col-md-4">
                    <input type="number" name="visitor-goals-{{i}}" class="form-control" min="0" [(ngModel)]="player.goals">
                  </div>
                  <div class="col-12 col-md-8">
                    <label>{{player.name}}</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button class="btn btn-primary mt-4" (click)="setMatchResult()" *ngIf="goalscorers.length == 0">Establecer resultado del partido</button>
      </div>
      <div class="row" *ngIf="saved">
        <div class="col-12">
          <div class="alert alert-success">
            <p>Resultado guardado con éxito</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>