<section class="main">
  <div class="row col-12">
    <div class="col-12 col-sm-8">
      <div class="row">
        <h2>{{tournament.name}}</h2>
      </div>
      <div class="row">
        <p>{{tournament.description}}</p>
      </div>
      <div class="row" *ngIf="clasifications">
        <div class="row col-12 mb-4">
          <h3>Clasificación</h3>
          <table class="table table-responsive-sm table-striped text-center">
            <thead>
              <tr>
                <th scope="col">Pos.</th>
                <th>Equipo</th>
                <th>Goles a favor</th>
                <th scope="col">Goles en contra</th>
                <th>Dif. goles</th>
                <th>Puntos</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let clasification of clasifications; let i = index">
                <td>{{i + 1}}</td>
                <td>{{getTeamName(clasification.team_id)}}</td>
                <td>{{clasification.goals_scored}}</td>
                <td>{{clasification.goals_against}}</td>
                <td>{{clasification.goals_scored - clasification.goals_against}}</td>
                <td>{{clasification.points}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="row col-12 mb-4">
          <h3>Calendario</h3>
          <div class="row col-12 my-2">
            <select name="matchdays" [(ngModel)]="currentMatchdayId" class="form-control" (change)="setCurrentMatchday()">
              <option *ngFor="let matchday of tournament.matchdays" [ngValue]="matchday.id">Jornada {{matchday.matchday_number}}</option>
            </select>
          </div>

          <table class="table table-responsive-sm table-hover table-pointer text-center">
            <thead>
              <tr>
                <th scope="col">Equipo local</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <th scope="col">Equipo visitante</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let match of showMatches" (click)="goToMatch(match.id)">
                <td>{{getTeamName(match.team_local_id)}}</td>
                <td>{{match.team_local_goals}}</td>
                <td>{{match.team_visitor_goals}}</td>
                <td>{{getTeamName(match.team_visitor_id)}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" *ngIf="tournament.goalscorers">
        <div class="row col-12 mb-4">
          <h3>Máximos goleadores</h3>
          <table class="table table-responsive-sm table-striped text-center">
            <thead>
              <tr>
                <th>Equipo</th>
                <th>Nombre</th>
                <th scope="col">Goles</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let goalscorer of tournament.goalscorers">
                <td>{{goalscorer.team}}</td>
                <td>{{goalscorer.name}}</td>
                <td>{{goalscorer.goals}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mb-4">
        <h3 class="col-12">Equipos</h3>
        <div class="col-12 col-sm-6 mb-3" *ngFor="let team of tournament.teams">
          <div class="card">
            <div class="card-header">{{team.name}}</div>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <img *ngIf="team.image" [src]="IMG_SERVER + team.image" class="img-avatar">
                </div>
                <div class="col-6">
                  <a class="btn btn-secondary mb-2" [routerLink]="['/private/teams', team.id]">Editar </a>
                  <button class="btn btn-danger" (click)="deleteTeam(team.id)">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-4 mt-4 mt-md-0 text-center">
      <div class="row">
        <div class="row col-12">
          <img [src]="IMG_SERVER + tournament.image" class="img-avatar mx-auto">
        </div>
      </div>
      <div class="row mt-4">
        <div class="row col-12">
          <button class="btn btn-success mx-auto" (click)="goToEditTournament()">Editar torneo</button>
        </div>
        <div class="row col-12 mt-2">
          <button class="btn btn-danger mx-auto" (click)="deleteTournament()">Borrar torneo</button>
        </div>
      </div>
    </div>
  </div>
</section>