<div class="container-fluid container">
  <header class="jumbotron bg-info mt-1">
    <h1 class="text-white">Bienvenido a Gestifut</h1>
    <p class="text-white">Gestifut te permite gestionar tus ligas deportivas de una forma fácil y cómoda</p>
  </header>
  <div class="content-main my-4">
    <div class="row">
      <div class="col-12 mx-auto">
        <p>Gestifut es una aplicación que te permite gestionar tus ligas de fútbol de forma rápida y sencilla. Tan solo tienes
          que crear un usuario para empezar a disfrutar de las ventajas de Gestifut
        </p>
      </div>
    </div>
    <div class="d-flex flex-row justify-content-between mt-2">
      <div class="col-6 text-center">
        <p class="h5">Si no tienes cuenta</p>
        <button class="btn btn-primary mt-2" (click)="register()">Regístrate aquí</button>
      </div>
      <div class="col-6 text-center">
        <p class="h5">Si ya tienes cuenta</p>
        <button class="btn btn-secondary mt-2" (click)="login()">Inicia sesión</button>
      </div>
    </div>
    <div class="d-flex flex-wrap mt-4 mx-auto">
      <div class="col-12 col-md-6">
        <h4>
          <i class="fa fa-check" aria-hidden="true"></i>
          Rápido</h4>
        <p>Regístrate de forma rápida en apenas un par de clicks</p>
      </div>
      <div class="col-12 col-md-6">
        <h4>
          <i class="fa fa-check" aria-hidden="true"></i>
          Sencillo</h4>
        <p>Tan solo te pedimos un par de datos</p>
      </div>
      <div class="col-12 col-md-6">
        <h4>
          <i class="fa fa-check" aria-hidden="true"></i>
          Gratis</h4>
        <p>Podrás usar la aplicación de forma totalmente gratuita</p>
      </div>
      <div class="col-12 col-md-6">
        <h4>
          <i class="fa fa-check" aria-hidden="true"></i>
          Sin anuncios</h4>
        <p>No tendrás molestos anuncios que dificulten la navegación</p>
      </div>
    </div>
  </div>
  <footer class="footer bg-info text-white">
    <p class="px-4">
      <i class="fa fa-copyright" aria-hidden="true"></i>
      <span>Gestifut 2018</span>
    </p>
  </footer>
</div>